*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    height: 100vh;
    background-color: rgba(60, 173, 177, 0.574);
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 100px 400px 100px;
    grid-template-areas: 
    "header header header"
    "sidebar main section"
    "footer footer footer" ;
    /* grid-auto-flow:row; */
}

.content{
    background-color: silver;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1{
    background-color: orange;
    grid-area: header;
}
.content2{
    background-color: gold;
    grid-area: main;
}

.content3{
    background-color: red;
    grid-area: sidebar;
}
.content4{
    background-color: olive;
    grid-area: section;
}
.content5{
    background-color: pink;
    grid-area: footer;
}

